tema1/gutierrez_tinoco_juancarlos_LM_T2/ejercicio3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="relacion">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="persona">
                    <xs:complexType>
                        <xs:sequence>
                                    <xs:element name="nombre" type="xs:string" />
                                    <xs:element maxOccurs="unbounded" name="email" type="xs:string" />
                                    <xs:element minOccurs="0" name="parentesco">
                                <xs:complexType>
                                    <xs:attribute name="tipo" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                            <xs:attribute name="sexo" type="xs:string" use="optional" />
                            <xs:attribute name="carnet" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>