tema2/recuparcion xsd y dtd/ej1.dtd

<!ELEMENT students (student|name|address+|phone)>
<!ELEMENT student (#PCDATA)>
    <!ATTLIST student dni ID #REQUIRED> 
<!ELEMENT name (#PCDATA)>
<!ELEMENT address (street,number,city,province)*>
<!ELEMENT street (#PCDATA)>
<!ELEMENT number (#PCDATA)>
<!ELEMENT city (#PCDATA)>
<!ELEMENT province (#PCDATA)>
<!ELEMENT phone (#PCDATA)>